<section class="wrapper bg-soft-primary">
    <div class="container py-10 text-center">
      <div class="row">
        <div class="col-md-9 col-lg-7 col-xl-7 mx-auto text-center">
          <p class="h2 display-4 mb-6">Create interactive videos that convert</p>
          <div class="me-11">
            <img loading="lazy" src="/img/svg/arrow-1.svg" class="svg-inject icon-svg icon-svg-md mb-10 me-2" alt="Arrow Icon" />
            <a href="https://run.playstory.io/sign-up" class="btn btn-primary mb-6 rounded text-center">Start For Free</a>
          </div>
          <p class="lead px-xl-10 px-xxl-15">"Step into the world of interactive video creation!"</p>
        </div>
      </div>
    </div>
</section>